.counter {
  font-size: 2em;
  background-color: #f79b9c;
  border-radius: 2%;
  text-align: center;
  margin: 5% 20%;
  padding: 2%;
}

.button-div {
  text-align: center;
}


button {
  border-radius: 50%;
  background-color: #38b9e0;
  text-align: center;
  padding: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 2em;
  border: solid black 2px;
}
